<form class="form-horizontal form-register" method="post">
  <input type="hidden" name="_csrf" value="{{csrf}}"/>

  {{#if messages}}
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{#each messages}}
      <div>{{{this}}}</div>
      {{/each}}
    </div>
  {{/if}}

  <h2>New account</h2>

  <div class="row form-group">
    <div class="col-md-12">
      <input type="text" class="form-control" name="username" placeholder="e-mail address" value="{{username}}"/>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <input type="password" class="form-control" name="password" placeholder="password"/>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <input type="password" class="form-control" name="passwordRepeat" placeholder="repeat password"/>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-6">
      <input type="text" class="form-control" name="firstName" placeholder="first name" value="{{firstName}}"/>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" name="lastName" placeholder="last name" value="{{lastName}}"/>
    </div>
  </div>

  <hr>

  <p>
    <button class="btn btn-inverse btn-lg btn-register" type="submit">Register</button>
    <button class="btn btn-default btn-lg btn-login" onclick="location.href='/login'; return false;">Login</button>
  </p>
</form>
