<form class="register form-horizontal" method="post">
  <input type="hidden" name="_csrf" value="{{csrf}}"></input>

  {{#if messages}}
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{#each messages}}
      <div>{{{this}}}</div>
      {{/each}}
    </div>
  {{/if}}

  <h2>New account</h2>

  <div class="row form-group">
    <div class="col-lg-11">
      <input type="text" class="form-control" name="username" placeholder="e-mail address" value="{{form.username}}"></input>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-11">
      <input type="password" class="form-control" name="password" placeholder="password"></input>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-lg-11">
      <input type="password" class="form-control" name="passwordRepeat" placeholder="repeat password"></input>
    </div>
  </div>

  <div class="row form-group">
    <div class="row col-lg-11">
      <div class="col-6" style="padding-right: 0;">
        <input type="text" class="form-control" name="firstName" placeholder="first name" value="{{form.firstName}}"></input>
      </div>
      <div class="col-6" style="padding-right: 0;">
        <input type="text" class="form-control" name="lastName" placeholder="last name" value="{{form.lastName}}"></input>
      </div>
    </div>
  </div>

  <hr>

  <div class="row form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button class="btn btn-default btn-large" type="submit">Register</button>
      <button class="login btn btn-large" onclick="location.href='/login'; return false;">Login</button>
    </div>
  </div>
</form>

<script>
  window.onload = function () {
    $('form.register input[name="{{focus}}"]').focus();
  };
</script>
